:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;

  --color-scheme: light dark;
  --color: rgba(255, 255, 255, 0.87);
  --background-color: #242424;

  --body-background-color: #2c2c2c;
  --container-background-color: #3c3c3c;
  --container-padding: 20px;
  --container-border-radius: 5px;
  --container-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --container-width: 400px;
}

body {
  font-family: var(--font-family);
  background-color: var(--body-background-color);
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: var(--container-background-color);
  padding: var(--container-padding);
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-box-shadow);
  width: var(--container-width);
}

.todo-form {
  display: flex;
  justify-content: space-between;
}

.todo-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #5a5a5a;
  border-radius: 3px;
  background-color: #ffffff;
  color: #000000;
}

.todo-form button {
  padding: 10px;
  border: none;
  background: #28a745;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-item {
  background: #ffffff;
  padding: 5px;
  border-bottom: 1px solid #555;
  display: flex;
  align-items: center;
  color: #242424;
}

.todo-item input[type="radio"] {
  margin-right: 10px;
  width: 20px; /* Make the radio button larger */
  height: 20px;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.remove-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 25px; /* Increase the icon size */
}

.edit-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px; /* Increase the icon size */
}

.remove-btn i {
  color: #dc3545;
}

.edit-btn i {
  color: #ffc107;
}

.remove-btn:hover i, .edit-btn:hover i {
  opacity: 0.8;
}

.input-error {
  border: 2px solid red;
  background-color: #ffe6e6;
}

#error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: none;
}

/* style.css */

.complete-radio {
  margin-right: 10px;
  width: 20px; /* Increase size */
  height: 20px;
  cursor: pointer;
}

/* Strike-through text when completed */
.completed {
  text-decoration: line-through;
  color: #888;
}
